body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
.navbar {
    background-color: #FF5A5F;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.navbar .logo {
    font-size: 24px;
}
.navbar .menu {
    display: flex;
    gap: 20px;
}
.navbar .menu .item {
    color: white;
    text-decoration: none;
}
.navbar .search {
    background-color: white;
    color: #FF5A5F;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.card {
    border: 1px solid #FF5A5F;
    padding: 20px;
    width: calc(50% - 20px);
}
.card .title {
    font-size: 20px;
    color: #333;
}
.card .price {
    color: #FF5A5F;
    font-size: 24px;
    margin: 10px 0;
}
.card .description {
    color: #666;
}

.icon {
    width: 40px;
    margin-right: 40px;
    margin-left: 10px;
}
